* {
   
    text-decoration: none;
    list-style: none;
}



body{
    background-image: url(../image/testtest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* ***************************** navbar ****************************** */
.navbar {
  padding: 60px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.navbar a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.navbar .active a{
  color: red;
  font-size: 1.5em;
}

.navbar .hover1 a:hover{
  color: yellow;
}

.navbar .hover2 a:hover{
  color: green;
}

.navbar .hover3 a:hover{
  color: blue;
}

.navbar .logo {
  font-size: 1.7em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}
/* ****************************************************blocs******************************************** */
  
  #blocs1{
    background: white;
    float: left;
    height: 350px;
    margin: 60px;
    width: 350px;
  }
  
  #blocs2{
    background: white;
    float: right;
    height: 350px;
    margin: 60px;
    width: 350px;
  }
  
  #blocs3{
    background: white;
    float: left;
    height:350px;
    margin: 60px;
    width: 350px;
  }
  
  #blocs4{
    background: white;
    float: right;
    height: 350px;
    margin: 60px;
    width: 350px;
  }

  footer {
    position: absolute;
    bottom: 10px;
  }

  .container {
    width: 95%;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid;
    padding: 30px;
    height: 250px;
    position: absolute;
    bottom: 70px;
    left: 50px;
    opacity: 0.8;
 }